  
h1 {font: italic 75%/125% "Comic Sans MS", cursive;}
h1 {font-size: 74px;}
h1 {
    text-align: center;
    color: white;
	user-select: text;
	margin-left: -72px;
	padding-left: 72px;
}
h2 {
   color: white;
   font-size: 24px;
}
.bixo loko img {
	image-position: right top;
}
body {
	background-image: url("https://i.imgur.com/NI6e6FF.gif");
}
	
